$font-stack:    'Interface', sans-serif
$primary-color: #333
@import 'data.sass'
@import 'lib.sass'
@import 'generics.sass'
@import 'backgrounds.sass'
*
	transition: all 350ms ease
html, body
	margin: 0px
	padding: 0px
	width: 100%
	height: 100%
	overflow: hidden
body
	// background: #303452
	background: #CBD7EE
	// background: linear-gradient(to right bottom, #CBD7EE, #717FAC)
	background: linear-gradient(to top right, #FDFBFB, #EBEDEE)
	font: 100% $font-stack
	color: $primary-color
	display: flex
	justify-content: center
	align-items: center

main
	margin: 0 auto
	width: 90vw
	height: 90vh
	display: flex
	background: #2d2c2d
	background: linear-gradient(to right, #111111, #000000)
	box-shadow: 0px 0px 60px rgba(0,0,0,0.6)
	border-radius: 0.4em
	overflow: hidden

div.wholePage
	margin: 0 auto
	width: 90vw
	height: 90vh
	display: flex
	overflow: hidden

div.takeover
	display: flex
	width: 0vw
	height: 90vh
	background: #F5F5F5
	z-index: 999
	position: fixed
	border-radius: 0.4em
	overflow: hidden
	transition: all 400ms ease

div.grid
	display: flex
	width: 60vw
	height: 100%
	align-items: center
	justify-content: center
	flex-direction: column
	overflow: hidden
	opacity: 1
	visibility: visible

div.grid.scroll
	overflow: auto

div.article
	display: flex
	width: 100%	
	border: 1px solid red

//header
header
	display: flex
	width: 18vw
	height: 100%
	flex-direction: column

header.left
	width: 12vw
	min-width: 85px

div.tab
	display: flex
	flex-direction: column
	justify-content: center
	width: 100%
	height: 25vh

div.right
	display: flex
	width: 18vw
	height: 25vh
	flex-direction: column
	align-items: flex-end
	justify-content: center

div.page
	display: flex
	width: 0vw
	height: 100% 
	background: #F5F5F5
	position:fixed
	z-index: 998

div.title
	display: flex 
	width: 100%
	height: 40vh

div.social
	display: flex
	flex-direction: column
	margin-top: 21px
	align-items: flex-end
	padding-right: 3vw
	transition: all 200ms ease

div.splash
	display: flex
	flex-direction: column
	align-items: center
	margin: 0 auto
	width: 30em
	height: 30em
	justify-content: center
	border-radius: 50%
	box-shadow: 0px 0px 120px rgba(0,0,0,0.1)
	background-image: url("../res/1200.jpg")
@media screen and (max-width: 900px) 
	div.splash
		width: 20em
		height: 20em
@media screen and (max-width: 610px) 
	div.splash
		width: 12em
		height: 12em
@media screen and (max-width: 400px) 
	div.splash
		width: 9em
		height: 12em

div.second
	opacity: 0
	visibility: hidden

//Format styling for generated content
div.belowTemplate
	width: 90vw
	height: 100%
	display: flex 
	flex-direction: column
	visibility: visible

div.image-tall
	width: 26vw
	height: 100%
	display: flex
	flex-direction: column

div.content
	width: 100%
	height: 100%
	padding-left: 1.5vw
	padding-top: 4vh
	flex-direction: column

div.top
	width: 100%
	height: 65vh
	display: flex
div.bottom
	width: 100%
	height: 25vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: row
	background: transparent
	visibility: visible

div.tabItem
	margin: 0 auto
	padding-left: 0.75em
	width: 15vw
	height: 20vh
	display: flex
	flex-direction: column
	// background: #EBEDF1
	border-radius: 4px
	box-shadow: 0px 0px 14px rgba(0,0,0,0.2)
	cursor: pointer

//Text
h1.logo
	margin-left: 3vw
	margin-bottom: 3px
	width: 5vw
	display: flex
	font-size: 2em
	color: #EBEDF1
	font-family: 'Interface'
	user-select: none
	cursor: pointer
	transition: all 200ms ease
h1.logo:hover
	color: #BB1D94

h1.item
	margin-left: 3vw
	margin-bottom: 0px
	display: flex
	font-size: 0.7em
	color: #EBEDF1
	font-family: 'Oswald'
	font-weight: lighter
	letter-spacing: 0.1em
	cursor: pointer
h1.item:hover
	color: #BB1D94

a.contact
	margin-right: 3vw
	margin-bottom: 0px
	display: flex
	font-size: 0.85em
	color: #EBEDF1
	font-family: 'Oswald'
	font-weight: lighter
	letter-spacing: 0.1em
	cursor: pointer

h1.contact:hover
	color: #BB1D94

h1.spot
	margin-left: 3vw
	margin-bottom: 0px
	display: flex
	font-size: 1.5em
	color: #EBEDF1
	font-family: 'Interface'

h1.title
	// display: flex
	color: #1e1d1e
	font-size: 2.5em
	margin-bottom: 0vh

h1.big
	margin: 0 auto
	margin-left: 2.5vw
	margin-top: 1.5vh
	color: #F5F5F5
	font-size: 4.5em
	
h1.subtitle
	display: flex
	justify-content: center
	font-size: 3em
	padding-left: 2vw
	padding-right: 2vw
	height: 10vh
	width: 36vw
	font-family: 'Interface'
	background: #EBEDF1
	opacity: 0
	user-select: none
	color: #000
	mix-blend-mode: screen

h1.tabItem
	font-size: 1.75em
	color: #F5F5F5

h1.keynote
	margin: 0
	margin-top: 1vh
	font-size: 0.85em
	display: flex
	color: #BCBCBC
	font-family: 'Oswald'

div.link
	margin-left: 3vw
	margin-bottom: 0px
	display: flex
	font-size: 0.85em
	color: #EBEDF1
	font-family: 'Oswald'
	text-decoration: none
	letter-spacing: 0.1em
	font-weight: lighter
	cursor: pointer
div.link:hover
	color: #BB1D94

i
	font-size: 0.85em
i.fa-twitter:hover
	color: #22A0F2
i.fa-github:hover
	color: #33C153
i.fa-instagram:hover
	color: #C400AD

a
	margin-bottom: 3vh
	font-size: 1.15em
	color: #EBEDF1
	font-weight: lighter
	cursor: pointer
	text-decoration: none
	transition: all 200ms ease
.right a.pink:hover
	color: #BB1D94

a.contact.pink
	color: #C1C1C1

article
	margin-bottom: 3vh
	display: flex
	width: 90%
	font-family: 'Rubik'
	font-size: 1em
	line-height: 4vh
	letter-spacing: 0.04em
	color: #102B3F

//Second Layer
div.contactForm
	width: 76vw
	height: 100%
	display: flex
	padding-top: 1.5vh
	padding-bottom: 1.5vh

//Third Layer
div.leftSplash
	width: 32vw
	height: auto
	display: flex
	flex-direction: column
	justify-content: space-between

div.tabContent
	width: 58vw
	height: 100%
	flex-direction: column
	padding-left: 4.5vw
	overflow-y: scroll
	overflow-x: hidden
	background: #F1F1F1

.logoBottom
	margin-left: 3vw
	width: 5vw
	display: flex
	font-size: 2em
	color: #EBEDF1
	font-family: 'Interface'
	user-select: none
	cursor: pointer
	transition: all 200ms ease
h1.logoBottom:hover
	color: #BB1D94
h1.logoBottom i 
	font-size: 1.25em
	font-weight: bold

div.button
	margin-bottom: 5vh
	width: 10vw
	height: 5.5vh
	background: #BB1D94
	border: none
	border-radius: 2.75vh
	font-size: 0.875em
	color: #F5F5F5
	cursor: pointer
div.button:hover
	background: transparent
	border: 0.125em solid #BB1D94
	color: #BB1D94

a.dark
	margin-right: 3vw
	margin-bottom: 0px
	display: flex
	font-size: 1em
	color: #1e1d1e
	font-family: 'Interface'
	font-weight: lighter
	letter-spacing: 0.1em
	text-decoration: underline
	cursor: pointer
a.dark:hover
	color: #BB1D94

.p69
	display: "flex"

//Contact form
form
	margin-top: 6vh
	height: 40vh
	display: flex
	flex-direction: flex-end

.input
	width: 100%
	height: 7vh
	margin: 0 auto
	padding-left: 1.5vw
	background: #181818
	border-radius: 0.5vw
	border: none
	color: #F5F5F5
	font-family: 'Rubik'
	font-size: 1.1em
.input:focus
	outline: none
	box-shadow: 0px 0px 18px rgba(0,0,0,0.4)

.input.big
	height: 40vh
	padding: 1.5vw

@media screen and (max-width: 550px)
	form
		flex-direction: column
		height: 75vh 
	.input.big
		margin-top: 8vh
	.column
		width: 90%
	.content
		overflow-y: scroll

button
	margin-top: 5vh
	width: 13vw
	height: 7vh
	border-radius: 3.5vh
	border: none
	background: #181818
	color: #747466
	font-family: 'Rubik'
	font-size: 1.1em
	cursor: pointer
button:hover
	color: #F5F5F5
button:focus
	outline: none

.tenVH
	margin-top: 0vh
	display: flex
	flex-direction: column
	color: #C1C1C1 !important 
	 